/* Style untuk spinner (loading) */
.loader {
    display: none;
    /* Awalnya sembunyikan */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    position: fixed;
    /* Loader tetap berada di tempat meskipun halaman di-scroll */
    top: 50%;
    left: 50%;
    z-index: 10001;
}

.text-load {
    display: none;
    color: #f3f3f3;
    font-weight: bold;
    /* margin: 20px auto; */
    position: fixed;
    text-align: center;
    /* Loader tetap berada di tempat meskipun halaman di-scroll */
    top: 65%;
    left: 50%;
    z-index: 10001;
}

/* Overlay untuk membuat background gelap dan halaman tidak bisa diakses */
.overlay {
    display: none;
    /* Awalnya disembunyikan */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Warna gelap semi-transparan */
    z-index: 10000;
    /* Z-index lebih kecil dari loader, lebih besar dari konten lainnya */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Style untuk spinner (loading) */